.main-photos {
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;

  @media (min-width: 48em) {
    height: 600px;
  }

  @media (min-width: 62em) {
    height: 700px;
  }

//  @media (min-width: 75em) {
//    height: 800px;
//  }
}

.photos-album {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: left 500ms ease-in-out;
  width: 800vw;
}

.album-photo {
  background-position: center;
  background-size: cover;

  cursor: pointer;

  display: flex;
  flex-direction: column;

  float: left;

  font-weight: 500;
  height: 100%;
  justify-content: center;

  text-align: center;

  width: 100vw;

  &:link,
  &:hover,
  &:visited {
    text-decoration: none;
  }

  &.vertical-align-top {
    // TODO: figure out how to set it correctly
    //align-items: ;
    position: relative;

    hgroup {
      left: 0;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 1;
    }
  }

  &.vertical-align-center {
    align-items: center;
  }

  &.color-default {
    color: $regular-black;
  }

  &.color-inverted {
    color: $regular-white;
  }

  &.background-no-cover {
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: 75% auto;

    @media (min-width: 48em) {
      background-position: center;
      background-size: auto;
    }
  }

  &.background-vertical {
    //@media (max-width: 47.9em) {
    background-size: auto 50%;
    //}
  }
}

.album-photo-header {
  font-size: 4rem;
  font-weight: 500;
  margin-top: .5rem;

  &.text-smaller {
    font-size: 3rem;
    font-weight: 300;
  }

  @media (min-width: 62em) {
    font-size: 5.5rem;

    &.text-smaller {
      font-size: 4rem;
    }
  }
}

.album-photo-description {
  font-weight: 300;
}

.album-control-dots {
  bottom: 0;
  display: inline-block;
  height: 8%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;

  text-align: center;
  width: 50%;

  .fa-circle,
  .fa-circle-o {
    margin-right: 2%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .fa-circle {
    color: $hero-dot-color;
    cursor: pointer;
  }

  .fa-circle-o {
    color: $hero-dot-active-color;
  }
}

.album-photo-link {
  margin-right: 2%;

  &:last-of-type {
    margin-right: 0;
  }

  &:link,
  &:hover,
  &:visited {
    color: $regular-white;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
  }

  &:hover > span {
    text-decoration: underline;
  }
}
